<%flash.each do |key, value|%>
<strong> <%=key%> : <%=value%></strong>
<hr>
<%end%>

<%= form_for :user, url: users_path, html: { multipart: true } do |form| %>
  <p>
  <%= form.label :name%>
  <%= form.text_field :name %>
  </p>
  <p>
  <%= form.file_field :avatar %>
  </p>
  <%= form.submit 'Post'%>
<% end %>
